@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

header {
    background-color: #f3f3f3;
    padding: 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

header .menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.hero {
    background: linear-gradient(to right, rgb(155, 78, 179) 0%, rgb(58, 198, 220) 100%);
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.hero a {
    padding: 10px 20px;
    border: 1px solid #eee;
    display: inline-block;
    text-transform: uppercase;
}

.hero a.join {
    background-color: rgb(155, 78, 179);
}

.services {
    padding: 80px 0;
}

.services .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.services .row:nth-child(odd) {
    flex-direction: row-reverse;
}

.services .row .col {
    width: 45%;
}

.services img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.services a {
    padding: 10px 15px;
    border: 1px solid black;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #eee;
}

/* Arabic style */
[dir="rtl"] {
    text-align: right;
}

[dir="rtl"] body {
    font-family: "IBM Plex Sans Arabic", serif;
}